name: CI Python

on:
  push:
    branches:
      - main
      - main-v2
  pull_request:
    branches:
      - main
      - main-v2

jobs:
  py-cpu:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] # ubuntu only for now macos-latest, windows-latest]
        python-version: [3.8] # ubuntu 20.04, python 3.8 is our current supported target
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run:
        pip3 install farm-ng-core@git+https://github.com/farm-ng/farm-ng-core.git@main
        pip3 install --no-build-isolation -e .[dev]
    - name: Run Tests
      run: pytest -v py/tests/ --mypy
