name: CI Python

on:
  push:
    branches:
      - main
      - main-v2
  pull_request:
    branches:
      - main
      - main-v2

jobs:
  tests-cpu:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: pip3 install -e .[dev]
    - name: Run Tests
      run: pytest -v py/tests/ --mypy
